[submodule "api"]
	path = api
	url = https://github.com/WillFantom/Cube-API
[submodule "ui"]
	path = ui
	url = https://github.com/WillFantom/Cube-UI
[submodule "cube-ui"]
	path = cube-ui
	url = https://github.com/dborowiec10/cube-ui
